@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif !important;
}

@media (max-width: 576px) {
  .goodsSliderContainer {
    max-width: 89.7916666667vw;
    padding-left: 5.2083333333vw !important;
    padding-right: 5.2083333333vw !important;
  }
}

@media (min-width: 992px) {
  .swiperSlide {
    max-width: 240px;
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  color: #ddd;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  background: #222;
  width: 20px;
  border-radius: 4px;
}

@media (max-width: 576px) {
  .goodsName {
    font-size: 3.75vw;
  }
}

@media (max-width: 576px) {
  .goodsPrice {
    font-size: 4.375vw !important;
  }
}

@media (max-width: 576px) {
  .goodsImg {
    width: calc(((844 / 3) / 2) * 100 / 320 * 1vw);
  }
}
